*{box-sizing: border-box;}

.container,table {
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}
h1, p {
    text-align: center;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
} 
table  td {
    border: 1px solid #00000044;
    padding: 0.2em;
}
td:first-child {
    background-color: #dddddd;
    text-align: center;
}
td:last-child {
    padding-left: 1em;
}